# Dependency directories
node_modules/

# Build outputs
dist/
build/
out/
release/

# Temporary files and logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build_log.txt
dump.html

# OS-specific files
.DS_Store
Thumbs.db

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# Environmental variables
.env
.env.local
.env.*.local

# Electron-specific
*.un~
